/* Estilo do cabeçalho */
header {
  background-color: #ffe600;
  padding: 10px 0;
  text-align: center;
}

header a {
  text-decoration: none;
  color: #333;
  margin: 0 20px;
  font-weight: bold;
}

/* Estilo do rodapé */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
